* {
  margin: 0;
}

body {
  width: 20em;
  margin: 0 auto;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Header*/

.Header {
  width: 100%;
  height: 3.125em;

  background-color: #006;
}

.Header-Block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  font-size: 1.250em;
  color: #fff;
}

.Header-Arrow {
  flex: 0.6;
  margin-top: 0.313em;
}

.Header-Img {
  width: 40%;
}

.Header-Name {
  flex: 1.4;

  font-weight: bold;
}

/*Dialog*/

.Dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: /*18.750em*/ 100%;
  height: 81vh;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 0.938em;
}

.Dialog-Date {
  margin-top: 0.625em;

  text-align: center;
  color: #999;
}

.Dialog-Text {
  width: auto;
  max-width: 12.500em;
  height: auto;
  margin-top: 0.625em;
  padding: 0.5em 0.938em;

  border-radius: 1.250em;
}

.Dialog-Text_left {
  background: rgba(0, 0, 102, 0.15);
}

.Dialog-Text_right {
  margin-left: 5.625em;

  color: #fff;

  background: #006;
}

/*Enter*/

.Enter {
  position: absolute;
  bottom: 0.625em;

  display: flex;
  justify-content: space-between;
  width: 18.750em;
  height: 3.125em;
  margin: 0 auto;
}

.Enter-Input {
  width: 14.375em;
  height: 2.188em;
  padding-left: 0.563em;

  font-size: 0.875em;

  background: #f0f0f0;
  border: 0.063em solid #f0f0f0;
  border-radius: 0.313em;
}

.Enter-Btn {
  width: 2.188em;
  height: 2.188em;
}

/*fonts*/

@font-face {
  font-family: "Roboto";

  src: url("../src/Roboto.ttf");
}
