* {
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Header*/

.Header {
  width: 100%;
  height: 3.125em;

  background-color: #006;
}

.Header-Block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  font-size: 1.25em;
  color: #fff;
}

.Header-Arrow {
  flex: 0.6;
  margin-top: 0.313em;
}

.Header-Img {
  width: 40%;
}

.Header-Name {
  flex: 1.4;

  font-weight: bold;
}

/*Dialog*/

.Dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: /*18.750em*/ 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 0.938em;
}

.Dialog-Date {
  margin-top: 0.625em;

  text-align: center;
  color: #999;
}

.Dialog-Text {
  width: auto;
  max-width: 12.5em;
  height: auto;
  margin-top: 0.625em;
  padding: 0.5em 0.938em;

  border-radius: 1.25em;
}

.Dialog-Text_left {
  background: rgba(0, 0, 102, 0.15);
}

.Dialog-Text_right {
  margin-left: 5.625em;

  color: #fff;

  background: #006;
}

/*Enter*/

.Enter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5rem;

  background: #fff;
}

.Enter-Input {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  margin-right: 0.25rem;
  padding: 0.3rem 0.55rem 0.4rem;

  font-size: 1rem;
  font-size: inherit;
  font-family: inherit;

  background: #f0f0f0;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  box-shadow: none;
}

.Enter-Input:hover {
  background: #e3e3e3;
}

.Enter-Input:focus {
  background: #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.Enter-Btn {
  width: 2.188em;
  height: 2.188em;

  cursor: pointer;
}

.Enter-Btn:hover {
  opacity: 0.75;
}

/*fonts*/

@font-face {
  font-family: "Roboto";

  src: url("../src/Roboto.ttf");
}
